*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------------slider------------------------------------------*/
#slider {
    position: relative;
}
#slider .slide-none{
    display: none;
}
.active{
    display: block;
}
.prev{
    top: 340px;
    left: 5px;
    background-color: rgba(165, 164, 164, 0.405);
}
.next{
    top: 340px;
    right: 5px;
    background-color: rgba(165, 164, 164, 0.405);
}
section{
    position: relative;
}
.section2 h3{
    top: 20px;
    left: 185px;
}
.section2 p{
    top: 90px;
    left: 320px;
}

/*--------------------------------------------------------------------*/

@media screen and (max-width:768px){
    header a{
        font-size: 13px;
    }
    header #slider > img{
        height: 300px;
    }
    .prev,.next{
        top: 140px;
    }
    .section1 > img{
        height: 300px;
    }
    .section2 h3{
        font-size: 12px;
        left: 140px;
    }
}
@media screen and (min-width:768px) and (max-width:1126px){
    .section2 h3{
        font-size: 15px;
        left: 130px;
    }
    .prev,.next{
        top: 240px;
    }
}


/*------------------------------slider2--------------------------------------*/
.slider2{
    width: 90%;
    position: relative;
    margin: 10px auto;
}
.slide2 img{
    width: 33%;
}
.slide2-2{
    display: none;
    
}
.active2{
    display: block;
}
.slider2 .prev2,.slider2 .next2{
    width:40px;
    height:40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top:10px;
    background-color: rgba(190, 185, 185, 0.512);
    font-size: 25px;
    border-radius: 50%;
    text-decoration: none;
    color: rgb(78, 76, 76);
}
.prev2{
    left: 5px;
}
.next2{
    right: 5px;
}
@media screen and (max-width:768px){
    .slider2 .prev2,.slider2 .next2{
        width:25px;
        height:25px;
        line-height: 25px;
        text-align: center;
        position: absolute;
        top:50px;
        background-color: rgba(190, 185, 185, 0.512);
        font-size: 15px;
        border-radius: 50%;
        text-decoration: none;
        color: rgb(78, 76, 76);
    }
    .prev2{
        left: 1px;
    }
    .next2{
        right:1px;
    }
}